.header {
    border: 1px solid orange;
}

.menu {
    border: 1px solid orange;
    margin-bottom: 12px;
}

.footer {
    border: 1px solid orange;
    margin: 6px;
}

.inner_cell {
    border: 1px solid orange;
    padding: 12px;
    margin-bottom: 10px;
}

